/* Material —— equinusocio Material Theme 系列。 */

.material {
  --catppuccin-color-base: #eaeaea;
  --catppuccin-color-mantle: #e1e1e1;
  --catppuccin-color-crust: #d7d7d7;
  --catppuccin-color-surface0: #9a9a9a;
  --catppuccin-color-surface1: #868686;
  --catppuccin-color-surface2: #737372;
  --catppuccin-color-overlay0: #4f4f4e;
  --catppuccin-color-overlay1: #414140;
  --catppuccin-color-overlay2: #2d2d2c;
  --catppuccin-color-text: #232322;
  --catppuccin-color-subtext0: #4f4f4e;
  --catppuccin-color-subtext1: #414140;
  --catppuccin-color-rosewater: #b7141f;
  --catppuccin-color-flamingo: #b7141f;
  --catppuccin-color-pink: #560088;
  --catppuccin-color-mauve: #560088;
  --catppuccin-color-red: #b7141f;
  --catppuccin-color-maroon: #b7141f;
  --catppuccin-color-peach: #da5d1e;
  --catppuccin-color-yellow: #f6981e;
  --catppuccin-color-green: #457b24;
  --catppuccin-color-teal: #0e717c;
  --catppuccin-color-sky: #0e717c;
  --catppuccin-color-sapphire: #134eb2;
  --catppuccin-color-blue: #134eb2;
  --catppuccin-color-lavender: #560088;
  --catppuccin-color-red-600: #a1121b;
  --catppuccin-color-red-950: #6e0c13;
  --catppuccin-color-green-600: #3d6c20;
  --catppuccin-color-green-950: #294a16;
  --catppuccin-color-blue-600: #11459d;
  --catppuccin-color-blue-950: #0b2f6b;
}

.material-dark {
  --catppuccin-color-base: #232322;
  --catppuccin-color-mantle: #222221;
  --catppuccin-color-crust: #20201f;
  --catppuccin-color-surface0: #3c3c3b;
  --catppuccin-color-surface1: #555555;
  --catppuccin-color-surface2: #6f6f6e;
  --catppuccin-color-overlay0: #848484;
  --catppuccin-color-overlay1: #9b9b9b;
  --catppuccin-color-overlay2: #b4b4b4;
  --catppuccin-color-text: #e5e5e5;
  --catppuccin-color-subtext0: #cacaca;
  --catppuccin-color-subtext1: #dbdbdb;
  --catppuccin-color-rosewater: #b7141f;
  --catppuccin-color-flamingo: #b7141f;
  --catppuccin-color-pink: #560088;
  --catppuccin-color-mauve: #560088;
  --catppuccin-color-red: #b7141f;
  --catppuccin-color-maroon: #b7141f;
  --catppuccin-color-peach: #da5d1e;
  --catppuccin-color-yellow: #f6981e;
  --catppuccin-color-green: #457b24;
  --catppuccin-color-teal: #0e717c;
  --catppuccin-color-sky: #0e717c;
  --catppuccin-color-sapphire: #134eb2;
  --catppuccin-color-blue: #134eb2;
  --catppuccin-color-lavender: #560088;
  --catppuccin-color-red-600: #a1121b;
  --catppuccin-color-red-950: #6e0c13;
  --catppuccin-color-green-600: #3d6c20;
  --catppuccin-color-green-950: #294a16;
  --catppuccin-color-blue-600: #11459d;
  --catppuccin-color-blue-950: #0b2f6b;
}

.material-darker {
  --catppuccin-color-base: #212121;
  --catppuccin-color-mantle: #202020;
  --catppuccin-color-crust: #1e1e1e;
  --catppuccin-color-surface0: #3c3e3e;
  --catppuccin-color-surface1: #565b5b;
  --catppuccin-color-surface2: #717878;
  --catppuccin-color-overlay0: #889090;
  --catppuccin-color-overlay1: #a0abab;
  --catppuccin-color-overlay2: #bbc8c8;
  --catppuccin-color-text: #eeffff;
  --catppuccin-color-subtext0: #d1e0e0;
  --catppuccin-color-subtext1: #e4f4f4;
  --catppuccin-color-rosewater: #ff5370;
  --catppuccin-color-flamingo: #ff5370;
  --catppuccin-color-pink: #c792ea;
  --catppuccin-color-mauve: #c792ea;
  --catppuccin-color-red: #ff5370;
  --catppuccin-color-maroon: #ff5370;
  --catppuccin-color-peach: #ff956d;
  --catppuccin-color-yellow: #ffcb6b;
  --catppuccin-color-green: #c3e88d;
  --catppuccin-color-teal: #89ddff;
  --catppuccin-color-sky: #89ddff;
  --catppuccin-color-sapphire: #82aaff;
  --catppuccin-color-blue: #82aaff;
  --catppuccin-color-lavender: #c792ea;
  --catppuccin-color-red-600: #e04963;
  --catppuccin-color-red-950: #993243;
  --catppuccin-color-green-600: #accc7c;
  --catppuccin-color-green-950: #758b55;
  --catppuccin-color-blue-600: #7296e0;
  --catppuccin-color-blue-950: #4e6699;
}

.material-ocean {
  --catppuccin-color-base: #0f111a;
  --catppuccin-color-mantle: #0e1019;
  --catppuccin-color-crust: #0e1018;
  --catppuccin-color-surface0: #20222c;
  --catppuccin-color-surface1: #30333d;
  --catppuccin-color-surface2: #41444f;
  --catppuccin-color-overlay0: #4f525e;
  --catppuccin-color-overlay1: #5e626e;
  --catppuccin-color-overlay2: #6f7280;
  --catppuccin-color-text: #8f93a2;
  --catppuccin-color-subtext0: #7d818f;
  --catppuccin-color-subtext1: #898c9b;
  --catppuccin-color-rosewater: #ff5370;
  --catppuccin-color-flamingo: #ff5370;
  --catppuccin-color-pink: #c792ea;
  --catppuccin-color-mauve: #c792ea;
  --catppuccin-color-red: #ff5370;
  --catppuccin-color-maroon: #ff5370;
  --catppuccin-color-peach: #ff956d;
  --catppuccin-color-yellow: #ffcb6b;
  --catppuccin-color-green: #c3e88d;
  --catppuccin-color-teal: #89ddff;
  --catppuccin-color-sky: #89ddff;
  --catppuccin-color-sapphire: #82aaff;
  --catppuccin-color-blue: #82aaff;
  --catppuccin-color-lavender: #c792ea;
  --catppuccin-color-red-600: #e04963;
  --catppuccin-color-red-950: #993243;
  --catppuccin-color-green-600: #accc7c;
  --catppuccin-color-green-950: #758b55;
  --catppuccin-color-blue-600: #7296e0;
  --catppuccin-color-blue-950: #4e6699;
}

.material-design-colors {
  --catppuccin-color-base: #1d262a;
  --catppuccin-color-mantle: #1c2428;
  --catppuccin-color-crust: #1b2327;
  --catppuccin-color-surface0: #374043;
  --catppuccin-color-surface1: #52595d;
  --catppuccin-color-surface2: #6c7376;
  --catppuccin-color-overlay0: #82888c;
  --catppuccin-color-overlay1: #9aa0a3;
  --catppuccin-color-overlay2: #b4babc;
  --catppuccin-color-text: #e7ebed;
  --catppuccin-color-subtext0: #cbcfd2;
  --catppuccin-color-subtext1: #dde1e3;
  --catppuccin-color-rosewater: #fc3841;
  --catppuccin-color-flamingo: #fc3841;
  --catppuccin-color-pink: #fc226e;
  --catppuccin-color-mauve: #fc226e;
  --catppuccin-color-red: #fc3841;
  --catppuccin-color-maroon: #fc3841;
  --catppuccin-color-peach: #fd8c39;
  --catppuccin-color-yellow: #fed032;
  --catppuccin-color-green: #5cf19e;
  --catppuccin-color-teal: #59ffd1;
  --catppuccin-color-sky: #59ffd1;
  --catppuccin-color-sapphire: #37b6ff;
  --catppuccin-color-blue: #37b6ff;
  --catppuccin-color-lavender: #fc226e;
  --catppuccin-color-red-600: #de3139;
  --catppuccin-color-red-950: #972227;
  --catppuccin-color-green-600: #51d48b;
  --catppuccin-color-green-950: #37915f;
  --catppuccin-color-blue-600: #30a0e0;
  --catppuccin-color-blue-950: #216d99;
}

.oceanic-material {
  --catppuccin-color-base: #1c262b;
  --catppuccin-color-mantle: #1b2429;
  --catppuccin-color-crust: #1a2328;
  --catppuccin-color-surface0: #323b41;
  --catppuccin-color-surface1: #475058;
  --catppuccin-color-surface2: #5d656e;
  --catppuccin-color-overlay0: #6f7781;
  --catppuccin-color-overlay1: #838a96;
  --catppuccin-color-overlay2: #98a0ac;
  --catppuccin-color-text: #c2c8d7;
  --catppuccin-color-subtext0: #abb1bf;
  --catppuccin-color-subtext1: #bac0ce;
  --catppuccin-color-rosewater: #ee2b2a;
  --catppuccin-color-flamingo: #ee2b2a;
  --catppuccin-color-pink: #8800a0;
  --catppuccin-color-mauve: #8800a0;
  --catppuccin-color-red: #ee2b2a;
  --catppuccin-color-maroon: #ee2b2a;
  --catppuccin-color-peach: #f7942c;
  --catppuccin-color-yellow: #ffea2e;
  --catppuccin-color-green: #40a33f;
  --catppuccin-color-teal: #16afca;
  --catppuccin-color-sky: #16afca;
  --catppuccin-color-sapphire: #1e80f0;
  --catppuccin-color-blue: #1e80f0;
  --catppuccin-color-lavender: #8800a0;
  --catppuccin-color-red-600: #d12625;
  --catppuccin-color-red-950: #8f1a19;
  --catppuccin-color-green-600: #388f37;
  --catppuccin-color-green-950: #266226;
  --catppuccin-color-blue-600: #1a71d3;
  --catppuccin-color-blue-950: #124d90;
}
